@font-face {
	font-family: Vazir;
	src: url('./Vazir-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Vazir;
	src: url('./Vazir-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: Vazir;
	src: url('./Vazir-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: Vazir;
	src: url('./Vazir-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: Vazir;
	src: url('./Vazir-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: Vazir;
	src: url('./Vazir-Thin.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
}
